@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij mijn C# opdrachten</h1>
    <div>
        <a class="btn btn-primary" asp-controller="Opdracht1" asp-action="Index">Opdracht 1: Versleutelen</a>
    </div>
</div>
