<div class="text-center">
    <h1 class="display-4">Wil je Encrypten of Decrypten?</h1>
    <div>
        <a class="btn btn-primary" asp-controller="Opdracht1" asp-action="Encryption">Encrypten</a>
        <a class="btn btn-primary" asp-controller="Opdracht1" asp-action="Decryption">Decrypten</a>
    </div>
</div>